.App-header {
  background-color: black;
  min-height: 100vh;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: none;
}


/* Home Page */
.home-page {
  /* background-color: #292b2e; */
  margin-top: 20vh;
}


/* Star Background */
.star-background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141c3a;
}

.star.twinkle {
  animation: twinkle 1s infinite;
}

.star {
  z-index: 0;
  margin-top: 100px;
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  animation: twinkling 2s infinite;
}

@keyframes twinkling {
  0% {
    opacity: 1;
    transform: scale(1.5);    
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}


.home-page img {
  position: relative;
  z-index: 2;
}




/* NAVBAR */
.image-header {
  position: sticky;
  top: 0;
  background-color: #292b2e !important; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-img {
  height: 80px;
  width: auto;
}

.sign-out-button {
  color: white;
  font-size: calc(10px + 1vmin);
  margin-right: 10px;
  margin-left: 20px;
  text-decoration: none;
}

.sign-out-button:hover {
  font-size: calc(10px + 1.05vmin);
  text-decoration: underline;
}


/* Image container */
.nasa-image-container {
  height: 80vh;
  text-align: center;
  font-size: 16px;
  z-index: 2;
  margin-top: 11vh;
  position: relative;
}


/* LOG IN & SIGN UP */

.form-bottom-links {
  margin-top: 12px;
  font-size: 18px;
}




.image-container {
  height: 45vh;
  text-align: center;
  font-size: 16px;
  z-index: 2;
  position: relative;
}


.homepage-div {
  max-height: 100vh;
  overflow: auto;
}

